.widget {
	background-color: rgba(0,100,0,.5);
	display: inline-block;
}
.widget h1 {
	color: red;
}

.widget ul {
	list-style-type: none;
	padding: 10 px;
}

.widget li {
	border: 2px solid blue;
	margin: 10px;
	width: 100px;
}